# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
*.xccheckout

# Build products
build/
*.o
*.LinkFileList
*.hmap
*.ipa

# Other
*.moved-aside
*.xcuserstate

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# Cocoapods
Pods
.ruby-version

# Carthage
Carthage/Build

# App Secrets
Secrets.swift
